header {
    font-family: 'Monoid Regular';
}
body {
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}
h1 {
    color: #837abb;
    font-weight: 700;
    font-size: 4em;
    /*text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(255,255,255,.1), 0 0 5px rgba(255,255,255,.1), 0 1px 3px rgba(255,255,255,.3), 0 3px 5px rgba(255,255,255,.4), 0 5px 10px rgba(255,255,255,.5), 0 10px 10px rgba(255,255,255,.4), 0 20px 20px rgba(255,255,255,.3);*/
}
h2 {
    font-size: 2.2em;
}
h3 {
    font-weight: 100;
    font-size: 1.6em;
}
.row {
    margin-left: auto;
    margin-right: auto;
}
#main {
    padding: 25px 0;
}
#cat {
    width: 40%;
}
.section-divider {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}
.section-module {
    margin-top: 50px;
    margin-bottom: 50px;
}
.section-text {
    margin-top: 0;
    margin-bottom: 5px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (min-width: 784px) {
    #main {
        width: 764px;
    }
    h1 {
    	font-size: 9em;
    }
    h2 {
        font-size: 3.4em;
    }
    h3 {
        font-size: 3.0em;
    }
    .section-module {
        margin-top: 120px;
        margin-bottom: 120px;
    }
}

@media (min-width: 888px) {
    #main {
        width: 865px;
    }
    .section-divider {
        margin-top: 0;
        margin-bottom: 25px;
    }
    h1 {
    	font-size: 10em;
    }
    h2 {
        font-size: 3.6em;
    }
    h3 {
        font-size: 3.2em;
    }
    .section-module {
        margin-top: 150px;
        margin-bottom: 150px;
    }
}
/*
@media (min-width: 992px) {
    #main {
        width: 967px;
    }
    h1 {
        font-weight: bold;
    	font-size: 4em;
    }
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 1.4em;
    }
}
@media (min-width: 1096px) {
    #main {
        width: 1068px;
    }
    h1 {
        font-weight: bold;
    	font-size: 4.5em;
    }
    h2 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.6em;
    }
}
@media (min-width: 1200px) {
    #main {
        width: 1170px;
    }
    h1 {
        font-weight: bold;
    	font-size: 5em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.8em;
    }
}*/

/*
a:link {
    color: #8ed3f3;
}
a:visited {

}
a:hover, a:active {
    color: #b9dded;
    text-decoration: underline;
}*/

a:link {

}
a:visited {
    color: #9c2f6f;
}
a:hover, a:active {
    text-decoration: underline;
}
/*
a:active {
    color: #3e8bcf;
    text-decoration: underline;
}*/

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
